.profile-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    min-height: calc(100vh - 120px);
    background-color: #f1f3f6;
    .left {
        display: flex;
        flex-direction: column;
        min-width: 25vw;
        .dp-holder {
            position: relative;
            display: flex;
            flex-direction: row;
            border-radius: 20px;
            padding: 10px;
            margin: 10px;
            box-shadow: 0 0 8px grey;
            align-items: center;
            height: min-content;
            transition: all 0.5ms ease;
            background-color: #ffffff;
            &:hover {
                box-shadow: 0 0 10px grey;
            }
            .user-dp {
                border-radius: 50%;
                height: 80px;
                width: 80px;
                margin-right: 10px;
                object-fit: scale-down;
            }
            .upload {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                left: 60px;
                bottom: 15px;
                height: 20px;
                width: 20px;
                padding: 4px;
                box-shadow: 0 0 8px rgb(240, 240, 240);
                background-color: rgb(236, 236, 236);
                border-radius: 50%;
                z-index: 30;
                cursor: pointer;
                &::after {
                    content: "+";
                    font-size: 25px;
                    font-weight: bold;
                    color: rgb(160, 149, 149);
                }
                input {
                    display: none;
                }
            }
            .dp-name {
                display: flex;
                flex-direction: column;
                .hello {
                    font-size: 20px;
                }
                .user-name {
                    font-size: 25px;
                    font-weight: bold;
                    color: grey;
                }
            }
        }
        .sub-links {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 10px;
            margin: 15px;
            border-radius: 20px;
            box-shadow: 0 0 8px grey;
            text-decoration: none;
            color: black;
            background-color: #ffffff;
            cursor: pointer;
            &:hover {
                box-shadow: 0 0 10px grey;
            }
            &:visited {
                color: black;
            }
            .text {
                padding-left: 10px;
                font-size: 16px;
                font-weight: bold;
            }
        }
    }

    .details-holder {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        height: max-content;
        padding: 15px;
        margin: 10px;
        border-radius: 20px;
        box-shadow: 0 0 8px grey;
        background-color: #ffffff;
        &:hover {
            box-shadow: 0 0 10px grey;
        }
        .details-header {
            font-size: 15px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .btn {
            padding: 10px;
            width: max-content;
            border: none;
            border-radius: 10px;
            background-color: rgb(92, 92, 240);
            color: #ffffff;
            cursor: pointer;
            &.edit {
                float: right;
            }
        }
        .inp-content {
            position: relative;
            width: 100%;
            margin: 5px 0;
            z-index: 10;
            .label {
                position: absolute;
                bottom: 0;
                left: 0;
                font-size: smaller;
                color: grey;
            }
            .placeholder {
                position: absolute;
                top: 23px;
                left: 5px;
                color: grey;
                z-index: -1;
                transition: all 200ms ease-in-out;
            }
            .border-bottom {
                position: absolute;
                left: 0;
                bottom: 20px;
                margin: auto;
                display: block;
                height: 2px;
                width: 0px;
                border: none;
                background: transparent;
                transition: width 0.5s ease, background-color 0.5s ease;
            }
            input {
                margin: 20px 0;
                border: 0;
                height: 30px;
                width: 100%;
                color: inherit;
                background: transparent;
                box-sizing: border-box;
                border-bottom: 1px solid black;
                transition: border-bottom 50ms ease;
                &:focus {
                    outline: none;
                    & + .border-bottom {
                        width: 100%;
                        background: blue;
                        & + .placeholder {
                            top: 3px;
                            left: 0px;
                            font-size: small;
                        }
                    }
                }
                &:hover {
                    border-bottom: 2px solid black;
                }
                &:not(:placeholder-shown) {
                    &:invalid {
                        & + .border-bottom {
                            width: 100%;
                            background: red;
                        }
                    }
                    & ~ .placeholder {
                        top: 3px;
                        left: 0px;
                        font-size: small;
                    }
                }
            }
        }
    }
}

/* Small screens */
@media all and (max-width: 768px) {
    .profile-container {
        .left {
            width: 100%;
        }
    }
}
